body {
  background-color: #fbff84;
  color: #643e4d;
  max-width: 700;
  text-align: center;
}
.btn-warning {
  background-color: #643e4d;
  color: #fbff84;
  border: none;
  margin: 15px;
}
h4 {
  font-size: 18px;
}
.btn-warning:hover {
  background-color: #643e4d;
  opacity: 0.5;
}
